

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #303846;
}

.header {
    position: fixed;
    background-color: white;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 0 17px 0 10px;
    width: 100%;
    font-weight: bold;
}
.logo {
    display: flex;
    flex-direction: row;
}
.logo-img {
    width: 40px;
    height: 40px;
    margin: auto 10px auto 0;
}

.menu-options {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0 17px;
}
.menu-option {
    margin-right: 10px;
    text-decoration: none;
    color: #303846;
}
.menu-option:hover {
    transition: .2s;
    opacity: .5;
}

.content {
 padding-top: 50px;
}

.title-photo {
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit: contain;
    width: 100%;
    color: white;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-photo-logo {
    height: 180px;
    width: 180px;
    margin: auto;
}
.title {
    font-size: 50px;
    margin: 20px auto;
}
.subtitle {
    margin: 0 auto 45px auto;
    font-size: 20px;
}
.bth {
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
.bth:hover {
    transition: .2s;
    opacity: .5;
    cursor: pointer;
}
.bth-booking {
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 15px;
}
.bth-submit {
    width: 46%;
}
.bth-green {
    color: green;
    border-color: lightgreen;
    padding: 15px 36px;
}

.advantages {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 70px;
    align-items: center;
}

.title-center {
    text-align: center;
    font-size: 30px;
}

.title-left {
    text-align: left;
    font-size: 30px;
}

.background-grey {
    background-color: #f7f7f7;
}

.width-content {
    width: 1000px;
    padding: 70px 0;
}
.flex-space-between {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about {
    width: 50%;
}
.content-img {
    width: 350px;
}
.form {
    width: 43%;
    border-color: lightgreen;
    margin-top: 25px;
    font-weight: bold;
}
.legend {
    color: green;
    font-weight: bold;
    font-size: 22px;
}
.legend-label {
    line-height: 30px;
    margin: 20px 0;
}

.legend-select {
    float: right;
    width: 35%;
    margin-right: 55px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

.input {
    border-radius: 10px;
    width: 45%;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 25px;
}



.footer {
 background-color:  #303846;
 font-family: serif;
}
.footer-conteiner {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.document-element{
    text-decoration: none;
    color: white;
}
.document-element:hover{
    transition: .2s;
    opacity: .5;
    cursor: pointer;
}

.info-element {
    text-decoration: none;
    color: white;
}
.info-element:hover {
    transition: .2s;
    opacity: .5;
    cursor: pointer;
}
