Границы для проверки разметки
div,
img,
h1,
h2,
cite,
blockquote,
p,
a,
h3,
h4,
h5,
section,
nav {
    border: 1px solid red;
}


/*В целом для страницы*/
.pages {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #303846;
}
/*Шапка*/
.hat {
    position: fixed;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
}
.logo {
    display: flex;
    flex-direction: row;
}
.logo__img {
    width: 40px;
    height: 40px;
    margin: auto 10px;
}
.menu {
    margin-right: 17px;
}
.menu__options {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}
.menu__option {
    padding-right: 10px;
    text-decoration: none;
    color: #303846;
}
.menu__option:hover {
    transition: .2s;
    opacity: .5;
}
/*Основной контент*/
.content {
 padding-top: 50px;
}

/*banner*/
.banner {
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit: contain;
    width: 100%;
    height: 450px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__logo {
    height: 180px;
    width: 180px;
    margin: auto;
}
.title {
    font-size: 50px;
    margin: 0 auto;
}
.subtitle {
    margin: auto;
    font-size: 20px;
}
.button {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    padding: 15px;
    font-size: 18px;
}
.button:hover {
    transition: .2s;
    opacity: .5;
}

/*Секция преимущества*/
.advantages {
    width: 1000px;
    padding: 70px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 70px;
    align-items: center;
}
.advantage {

}
.advantage__title {
    text-align: center;
    font-size: 30px;
}
.advantage__description {

}


/*Секция «О ЖК «Лунное море»*/

.about-complex {
    background-color: #f7f7f7;
}
.about-conteiner {
    width: 1000px;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about {
    width: 50%;
}
.about__title {
    font-size: 30px;
}
.about__tex {

}
.about-img {
    width: 350px;
}

/*Секция «Места для отдыха»*/
.places {
    width: 1000px;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.placas-img {
    width: 350px;
}

/*Футер*/
.footer {

}