

.pages {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #303846;
}

.hat {
    position: fixed;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
}
.logo {
    display: flex;
    flex-direction: row;
}
.logo-img {
    width: 40px;
    height: 40px;
    margin: auto 10px;
}
.menu {
    margin-right: 17px;
}
.menu-options {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}
.menu-option {
    padding-right: 10px;
    text-decoration: none;
    color: #303846;
}
.menu-option:hover {
    transition: .2s;
    opacity: .5;
}

.content {
 padding-top: 50px;
}

.banner {
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit: contain;
    width: 100%;
    height: 450px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-logo {
    height: 180px;
    width: 180px;
    margin: auto;
}
.title {
    font-size: 50px;
    margin: 0 auto;
}
.subtitle {
    margin: auto;
    font-size: 20px;
}
.button {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    font-size: 18px;
}
.button:hover {
    transition: .2s;
    opacity: .5;
}

.advantages {
    width: 1000px;
    padding: 70px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 70px;
    align-items: center;
}

.block-title {
    text-align: center;
    font-size: 30px;
}

.about-complex {
    background-color: #f7f7f7;
}
.width-content {
    width: 1000px;
    padding: 70px 0;
}
.flex-space-between {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about {
    width: 50%;
}
.content-img {
    width: 350px;
}

.forms {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    width: 40%;
    border-color: lightgreen;
    margin-top: 30px;
}
.legend {
    color: green;
    font-weight: bold;
    font-size: 22px;
}
.legend-select {
    float: right;
    width: 30%;
    margin-right: 35px;
    height: 25px;
    background-color: white;

}
.legend-input {
    border-radius: 5px;
    width: 40%;
    float: right;
    margin-right: 15px;
    height: 20px;
}
.bth {
    width: 40%;
    padding: 10px;
    margin: 20px 0 0 0;
}
.bth-submit {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: green;
    border-color: lightgreen;
    border-radius: 10px;
}
.bth-submit:hover {
    transition: .2s;
    opacity: .5;
    cursor: pointer;
}

.footer {
 background-color:  #303846;
}
.footer-conteiner {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-img-footer {
    margin-left: 0;
}

.document-element{
    text-decoration: none;
    color: white;
}
.document-element:hover{
    transition: .2s;
    opacity: .5;
    cursor: pointer;
}

.info-element {
    text-decoration: none;
    color: white;
}
.info-element:hover {
    transition: .2s;
    opacity: .5;
    cursor: pointer;
}
